absl-py
async-timeout
attrs
certifi
ftfy
chardet
fsspec[http]
future
gitdb
gitpython
google-auth-oauthlib
google-auth
grpcio
idna-ssl
idna
markdown
multidict
numpy
oauthlib
pathtools
pillow
protobuf
pytorch-lightning
pyyaml
sentry-sdk
shortuuid
six
smmap
subprocess32
scipy
torch
torchtyping
torchvision
tqdm
wandb
watchdog
werkzeug
opencv-python
torchmetrics
